.trailer{
 padding: 42px 0 80px;
 background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
position: relative;
}
.trailer__video{
    position: absolute;  
    top:0;
    right: 0;
    z-index: -1;
    width: 60%;
    height: 100%;  
    object-fit: cover;
}
.trailer__wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.desc{
    max-width: 558px;
    width: 100%;
}
.trailer__post{
    width: 80%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 51px;
}
.desc__p{
    color: var(--black);
    font-family: 'RR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 51px 0 55px;
}


